<!DOCTYPE html>
<html>
<head>
  <title>Administration Page</title>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
<h2>Administration Page</h2><br>





<div class="login" id="login" display=" block">
  <form action="/newRoom" id="roomCreate" method="post">
    <label><b>Room Number
    </b>
    </label>
    <input type="text" name="Rnum" id="Rnum" placeholder="Room Number">
    <br><br>
    <label><b>Room Capacity
    </b>
    </label>
    <input type="text" name="Rcap" id="Rcap" placeholder="Capacity">
    <br><br>
    <label><b>Room Cost
    </b>
    </label>
    <input type="number" name="Rcost" id="Rcost" placeholder="Cost">
    <br><br>
    <input type="submit" name="log" id="log" value="Create Room">
  </form>
</div>

<div id="response">
  A Response
</div>

<div id= "homepage">
  <h1>Home</h1>
</div>
</body>
</html>