<!DOCTYPE html>    
<html>    
<head>    
    <title>Create Form</title>    
    <link rel="stylesheet" type="text/css" href="index.css">    
</head>    
<body>    
<div id = "newAccount" class = "create_login" >
    <h1>Create Profile</h1>
    <form>
        <label><b>User Name     
        </b>    
        </label>    
        <input type="text" name="Uname" id="Uname" placeholder="Username">    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="Pass" id="Pass" placeholder="Password">    
        <br><br>    
        <input type="button" name="log" id="log" value="Create">       
    </form>

</div>
</body>    
</html> 