<!DOCTYPE html>    
<html>    
<head>     
    <link rel="stylesheet" type="text/css" href="index.css">    
</head>    
<body>    
    <script defer src="./main.js"></script> 
    <div class="page" id="login">
    
        <div class="header" id="lheader"> 
            <h2>Login Page</h2><br>   
        </div> 

       
    
        <form class="form" method="get">    
            <label><b>User Name     
            </b>    
            </label>    
            <input class = "in" type="text" name="Uname" id="Uname" placeholder="Username">    
            <br><br>    
            <label><b>Password     
            </b>    
            </label>    
            <input type="Password" name="Pass" id="Pass" placeholder="Password">    
            <br><br>    
            <input type="button" name="log" id="log" value="Login">       
            <br><br> 
            <button name="create" id="create" value="Create Login" type="button">Create Account </button>    
        </form>     
         
</div>   

<div id = "newAccount"  >
    <div class="header" id="cpheader"> 
        <h2>Create Profile</h2><br>   
    </div> 

    <form class="form" method="get">
        <label><b>Name     
    </b>    
    </label>    
    <input class = "in" type="text" name="name" id="name" placeholder="Name">    
    <br><br>  

    <label><b>Address     
    </b>    
    </label>    
    <input class = "in"type="text" name="address" id="address" placeholder="Address">    
    <br><br>  

    <label><b>User Name     
        </b>    
        </label>    
        <input class = "in" type="text" name="newU" id="newU" placeholder="Username">    
        <br><br>    

     <label><b>Password     
        </b>    
        </label>    
        <input  class = "in" type="Password" name="pass" id="pass" placeholder="Password">    
        <br><br>    
        <input type="button" name="Log" id="Log" value="Create">       
    </form>

</div>
<div id="adminHome" >
   <title>Administration Page</title>
   <div class="header" id="lheader"> 
    <h2>Administration Page</h2><br> 
   </div> 
  
    <form class="form"  id="roomCreate" method="get">
      <label><b>Room Number
      </b>
      </label>
      <input type="text" name="Rnum" id="Rnum" placeholder="Room Number">
      <br><br>
      <label><b>Room Capacity
      </b>
      </label>
      <input type="text" name="Rcap" id="Rcap" placeholder="Capacity">
      <br><br>
      <label><b>Room Cost
      </b>
      </label>
      <input type="number" name="Rcost" id="Rcost" placeholder="Cost">
      <br><br>
      <input type="button" name="log" id="createRoom" value="Create Room">
    </form>

  </div>
</div>   
</html>

